body {
    background-color: pink;
    background: white url("images/kendrick.gif") no-repeat center center fixed;
}

/* .kendrick-artist {
    background: white url("images/kendrick.gif") no-repeat center center fixed;
}

.jronk-artist {
    background: white url("images/jronk.gif") no-repeat center center fixed;
}

.radiohead-artist{
    background: white url("images/radioheadbear.gif") no-repeat center center fixed;
} */

h1 {
    background-color: whitesmoke;
    color: black;
    max-width: 19%;
    border-radius: 12px;
    padding: 2px;
    text-align: center;
}

ul {
    background-color: whitesmoke;
    color: black;
    max-width: 16%;
    border-radius: 12px;
}

li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}