{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'history/artist.css' %}" />

<h1>This is an Artist and some Albums They Recorded</h1>

<h2>{{artist.artist_name}}</h2>


<h2>Some other albums {{artist.artist_name}} is known for</h2>
<ul>
  {% comment %} loop over the artist's associated albums. So cool! {% endcomment %} {% for album in artist.album_set.all %}
  <li>
    {{album.title}} released by {{album.label}}.
  </li>
  {% endfor %}
</ul>

<form action="/history/albums/add" method='get'>
  <input type="submit" value="Add An Album">
</form>

{% comment %} Button that takes you back home {% endcomment %}
<form action="/history/" method='get'>
  <input type="submit" value="Home">
</form>