<nav>
    {% if nav_location != 'artists' %}
      <form action="/history/artists" method='get'>
        <input type="submit" value="View My Artists">
      </form>
    {% endif %}

    {% comment %} {% if nav_location == 'artists' %}
      <form action="/history/artists/add" method='get'>
        <input type="submit" value="Add An Artist">
      </form>
    {% endif %} {% endcomment %}

    {% if nav_location != 'albums' %}
    <form action="/history/albums" method='get'>
      <input type="submit" value="View My Albums">
    </form>
  {% endif %}

    {% if nav_location != 'songs' %}
      <form action="/history/songs" method='get'>
        <input type="submit" value="View My Songs">
      </form>
    {% endif %}

    {% if nav_location != 'home' %}
      <form action="/history/" method='get'>
        <input type="submit" value="Home">
      </form>
    {% endif %}
  </nav>
